{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Add a New Post {% endblock %}</h1>
    <form method="post">
        <label for="name">Name</label>
        <br>
        <input type="text" name="name"
               placeholder="Post name"
               value="{{ request.form['name'] }}"></input>
        <br>
        <label for="number_parts">Number Parts</label>
        <br>
        <input type="integer" name="number_parts"
               placeholder="Post number_parts"
               value="{{ request.form['number_parts'] }}"></input>
        <br>
        <label for="created_date">Created Date</label>
        <br>
        <input type="text" name="created_date"
               placeholder="Post created_date"
               value="{{ request.form['created_date'] }}"></input>
        <br>
        <label for="updated_date">Updated Date</label>
        <br>
        <input type="text" name="updated_date"
               placeholder="Post updated_date"
               value="{{ request.form['updated_date'] }}"></input>
        <br>

        <button type="submit">Submit</button>
    </form>
{% endblock %}